<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Recommendations</title>
</head>

<body>
    <h1>Laptop Recommendations</h1>
    <form action="/recommend" method="post">
        <label for="use">Select a Workfield:</label>
        <select id="use" name="use">
            <option value="Gaming">Gaming</option>
            <option value="Student/Education">Student/Education</option>
            <option value="Basic">IT</option>
            <option value="Business/Professional">Business/Professional</option>
            <option value="Creative/Design">Creative/Design</option>
            <option value="Basic">Basic</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
