<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/aboutUs.css">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>
            About Us
		</title>
	</head>
    <body>
        <br><br>
        <div class="wrap">
            <div class="box">
              <div class="box-top">
                <img class="box-image" src="../static/img/aboutUs/Yeran.png" alt="Yeran">
                <div class="title-flex">
                  <h3 class="box-title">Yeran Fernando</h3>
                  <p class="user-follow-info">  21 years </p>
                </div>
                <p class="description">I'm a student of Informatics Institute of Technology(IIT) affiliated with Robert Gordon University Aberdeen(RGU) currently following a degree of Artificial Intelligence and Data Science.</p>
              </div>
            </div>
            <div class="box">
              <div class="box-top">
                <img class="box-image" src="../static/img/aboutUs/Sabeeha.jpg" alt="Sabeeha">
                <div class="title-flex">
                  <h3 class="box-title">Sabeeha Mazahir</h3>
                  <p class="user-follow-info">21 years</p>
                </div>
                <p class="description">I'm an undergraduate at IIT pursuing a degree in Artificial Intelligence and Data Science.</p>
              </div>
            </div>
            <div class="box">
              <div class="box-top">
                <img class="box-image" src="../static/img/aboutUs/Rivindu.jpg" alt="Rividu">
                <div class="title-flex">
                  <h3 class="box-title">Rivindu Bopage</h3>
                  <p class="user-follow-info">21 Years</p>
                </div>
                <p class="description">I'm a student of Informatics Institute of Technology(IIT) affiliated with Robert Gordon University Aberdeen(RGU) currently following a degree of Artificial Intelligence and Data Science.</p>
              </div>
            </div>
            <div class="box">
              <div class="box-top">
                <img class="box-image" src="#" alt="Rushdi">
                <div class="title-flex">
                  <h3 class="box-title">Isaiah Jian</h3>
                  <p class="user-follow-info">12 Projects</p>
                </div>
                <p class="description">Whipped steamed roast cream beans macchiato skinny grinder café. Iced grinder go mocha steamed grounds cultivar panna aroma.</p>
              </div>
            </div>
          </div>

    </body>

</html>
