<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/css/landingPage.css">
    </head>
    <body>
      <div class= 'container'>
        <div class="container_content">
          <div class="container_content_inner">
            <div class="title">
              <h1>Personalized Laptop Recommendation System</h1>
            </div>
            <div class="par">
              <p>
                Struggling to find the perfect laptop? We can help!  Our recommendation system takes the guesswork out of your search.  Simply enter your desired features like GPU, RAM, and price range in the sentence bar, or use the dropdown menus to filter by RAM, price, CPU, and GPU.  In seconds, we'll present you with a curated list of laptops that meet your needs and budget.  Find your perfect match today!
              </p>
            </div>
            <div class="btns">
              <form action="/getStarted" method="POST" name="dataform">
                <button class='btns_more'>Get Started</button>
              </form>
            </div>
            </div>
            </div>
            <div class="container_outer_img">
            <div class="img-inner">
              <img src='../static/img/landingPageImage.webp'  alt="" class="container_img"/>
          </div>
        </div>
      </div>
            <div class="overlay"></div>

    </body>
</html>