<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landing Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/landingPage.css">
    </head>
    <body>
       <nav class="nav">
            <ul class="nav-links">
              <li class="center"><form action="/" method="POST" name="dataform"><button>Home</button></form></li>
                <li class="center"><form action="/getStarted" method="POST" name="dataform"><button>Recommendations</button></form></li>
              <li class="center"><form action="/about_us" method="POST" name="dataform"><button>About Us</button></form></li>
            </ul>
        </nav>
      <div class= 'container'>
        <div class="container_content">
          <div class="container_content_inner">
            <div class="title">
              <h1>Personalized Laptop Recommendation System</h1>
            </div>
            <div class="par">
              <p>
                Struggling to find the perfect laptop? We can help!  Our recommendation system takes the guesswork out of your search.  Simply enter your desired features like GPU, RAM, and price range in the sentence bar, or use the dropdown menus to filter by RAM, price, CPU, and GPU.  In seconds, we'll present you with a curated list of laptops that meet your needs and budget.  Find your perfect match today!
              </p>
            </div>
            <div class="btns">
              <form action="/getStarted" method="POST" name="dataform">
                <button class='btns_more'>Get Started</button>
              </form>
            </div>
            </div>
            </div>
            <div class="container_outer_img">
            <div class="img-inner">
              <img src='../static/img/landingPageImage.webp'  alt="" class="container_img"/>
          </div>
        </div>
      </div>
            <div class="overlay"></div>
    <footer>
        <p>Copyright &copy; 2024 All rights reserved by Group 4&nbsp;&nbsp;|&nbsp;&nbsp;</p>
        <form action="/about_us" method="POST" name="dataform"><button>About Us</button></form>
        <div class="gototop"><a href="#"><img class="topimg" src="../static/img/pngwing.com.png"/></a></div>
    </footer>
    </body>
</html>