<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Recommendation page 1</title>
    <link rel="stylesheet" href="../static/css/recommendationStyle.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <form action="">
        <h1>Recommendation</h1>

        <div class="input-box">
          <select required name="priceRange">
            <option value="" disabled selected>Select Price Range</option>
            <option value="Less than $500">Less than $500</option>
            <option value="$500 - $1000">$500 - $1000</option>
            <option value="$1000 - $1500">$1000 - $1500</option>
            <option value="More than $1500">More than $1500</option>
          </select>

          <box-icon name="lock-alt" type="solid"></box-icon>
        </div>

        <div class="input-box">
          <input
            type="text"
            placeholder="Type your sentence here"
            id="sentence"
          />
          <box-icon name="lock-alt" type="solid"></box-icon>
        </div>

        <!-- <button type="submit" class="btn">Recommend</button> -->

        <button type="button" class="btn" onclick="makePrediction()">
          Recommend
        </button>
        <p id="predictionResult"></p>

        <div class="register-link">
          <p><a href="/backToSelectPage" method="POST" name="dataform">Back</a></p>
        </div>
      </form>
    </div>

    <!-- The recommendation cards -->

    <div id="recommendationCards" class="recommendation-cards-container"></div>

    <!-- NLP Model -Output -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      function makePrediction() {
        const sentence = document.getElementById("sentence").value;
        const priceRange = document.querySelector(
          'select[name="priceRange"]'
        ).value;

        fetch("/predict", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ sentence: sentence, priceRange: priceRange }),
        })
          .then((response) => response.json())

          .then((data) => {
            console.log(data);

            // Initialize an empty string for the HTML content
            let contentHtml = "";

            // Check if the recommendations array is empty
            if (data.recommendations.length === 0) {
              contentHtml =
                "<p>No recommendations found based on your criteria. Please try different options.</p>";
            } else {
              // If recommendations are found, display them as a table

              // Check for "Keyword Extraction" method
              if (data.method === "Keyword Extraction") {
                contentHtml = `
      <table>
        <thead>
          <tr>
            <th>Company</th>
            <th>Product</th>
            <th>Ram</th>
            <th>Gpu</th>
            <th>Price ($)</th>
          </tr>
        </thead>
        <tbody>`;

                data.recommendations.forEach((laptop) => {
                  contentHtml += `
        <tr>
          <td>${laptop.Company}</td>
          <td>${laptop.Product}</td>
          <td>${laptop.Ram}</td>
          <td>${laptop.Gpu}</td>
          <td>${laptop.Price}</td>
        </tr>
        `;
                });

                contentHtml += `</tbody></table>`;
              }
              // Check for "Classification" method
              else if (data.method === "Classification") {
                contentHtml = `
      <table>
        <thead>
          <tr>
          <th>Laptop</th>
          <th>Product</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>`;

                data.recommendations.forEach((category) => {
                  contentHtml += `
        <tr>
          <td>${category.name}</td>
          <td><img src="${category.img_link}" alt="Laptop Image" style="width:100px;"></td>
          <td>${category.price}</td>
        </tr>
        `;
                });

                contentHtml += `</tbody></table>`;
              }
            }

            // Display the recommendations
            document.getElementById("recommendationCards").innerHTML =
              contentHtml;
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
